.mt-sm{
    margin-top: 0.5rem;
}

.mt, .mt-md{
    margin-top: 1.75rem;
}

.mt-lg{
    margin-top: 2rem;
}

.mb-sm{
    margin-bottom: 1.5rem;
}

.mb, .mg-md{
    margin-bottom: 1.75rem;
}

.mb-lg{
    margin-bottom: 2rem;
}